<style>
  [aria-disabled="true"] {
    pointer-events: none; /* Vô hiệu hóa các sự kiện nhấp chuột */
    cursor: not-allowed; /* Thay đổi con trỏ chuột khi di chuột qua nút */
  }
</style>

<div class="content-wrapper">
  <div class="content-header">
    <center>
      <h2 style="color: rgb(0, 0, 0)"><i class="fas fa-user-tie"></i>
        Quản lý nhân viên</h2>
      <a class="btn btn-success btn-sm" href="/admin/staff/active" role="button">
        Hoạt động
      </a>
      <a class="btn btn-danger btn-sm" href="/admin/staff/inactive" role="button">
        Không hoạt động
      </a>
    </center>
    <div class="breadcrumb">  
      <a class="btn btn-primary btn-sm" href="/admin/staff/createForm" role="button">
        Thêm
        <span class="fas fa-plus-circle"></span>
      </a>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box" id="view">
          <div class="box-body">
            <div class="row" style="padding:0px; margin:0px;">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">
                        <center>Stt</center>
                      </th>
                      <th scope="col">
                        <center>Hình ảnh</center>
                      </th>
                      <th scope="col">
                        <center>Tên nhân viên</center>
                      </th>
                      <th scope="col">
                        Giới tính
                      </th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col">Chức năng</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#staffs}}
                    <tr>
                      <th scope="row">
                        <center>{{sum @index 1}}</center>
                      </th>
                      <td>
                        <center><img src="/upload/{{avatar}}" alt="{{name}}" class="img-food-admin" /></center>
                      </td>
                      <td>{{name}}</td>
                      <td>{{#ifEquals sex "male"}}Nam{{else}}Nữ{{/ifEquals}}</td>
                      <td>
                        <div style="display: flex; margin: 0; gap: 0">
                          {{#ifEquals status "active"}}
                          <a href="" class="btn btn-success" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#unblock-staff-modal" aria-disabled="true">Mở</a>
                          <a href="" class="btn btn-outline-danger" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#block-staff-modal">Khóa</a>
                          {{else}}
                          <a href="" class="btn btn-outline-success" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#unblock-staff-modal">Mở</a>
                          <a href="" class="btn btn-danger" data-id="{{this._id}}" data-bs-toggle="modal"
                            data-bs-target="#block-staff-modal" aria-disabled="true">Khóa</a>
                          {{/ifEquals}}
                        </div>
                      </td>
                      <td>
                        <a href="/admin/staff/{{this._id}}/editForm" class="btn btn-warning">Sửa</a>
                      </td>
                    </tr>
                    {{/staffs}}
                  </tbody>
                </table>

                <div class="modal fade" id="block-staff-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Khóa nhân
                          viên này</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Bạn chắc chắn muốn khóa nhân viên?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-block-staff">Khóa
                        </button>
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style="background-color: black;">Hủy</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="unblock-staff-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mở khóa
                          cho nhân viên này</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Bạn chắc chắn muốn mở khóa cho nhân viên?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-unblock-staff">Mở khóa
                        </button>
                          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal" style="background-color: black;">Hủy</button>
                      </div>
                    </div>
                  </div>
                </div>

                <form name="block-staff-form" method="POST"></form>
                <form name="unblock-staff-form" method="POST"></form>

                <script>
                  document.addEventListener('DOMContentLoaded', function () {
                    var staffId;
                    var deleteForm = document.forms['block-staff-form'];
                    var btnBlockStaff = document.getElementById('btn-block-staff');
                    var btnUnBlockStaff = document.getElementById('btn-unblock-staff');

                    $('#block-staff-modal').on('show.bs.modal', function (event) {
                      var button = $(event.relatedTarget); //lấy nút đã nhấn để mở modal.
                      staffId = button.data('id');
                      btnBlockStaff.onclick = function () {
                        deleteForm.action = '/admin/staff/' + staffId + '/block?_method=DELETE';
                        window.location.reload();
                        deleteForm.submit();
                      }
                    }); 

                    $('#unblock-staff-modal').on('show.bs.modal', function (event) {
                      var button = $(event.relatedTarget); //lấy nút đã nhấn để mở modal
                      staffId = button.data('id');
                      btnUnBlockStaff.onclick = function () {
                        deleteForm.action = '/admin/staff/' + staffId + '/unblock?_method=POST';
                        window.location.reload();
                        deleteForm.submit();
                      }
                    });
                  })
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>