<div class="container">
    <div class="text-left mb-3">
        <a href="javascript:history.back()" class="btn btn-success btn-sm">
            <i class="fas fa-chevron-left"></i> Quay lại
        </a>
    </div>
    <h2 class="text-center mb-4">Địa chỉ của tôi</h2>
</div>
<div class="containeraddress container bg-white shadow mt-4 p-4">
    {{#addresses}}
    <div class="form-group">
        <div class="row">
            <div class="col-7 ml-auto">
                <div class="row">
                    <div class="col-12">
                        <b>{{fullName}}</b> | <i class="fas fa-phone"></i> {{phone}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{address}}, {{wards}}, {{district}}, {{city}}
                    </div>
                </div>
            </div>
            <div class="col-3 mr-auto">
                <div class="address" id="{{_id}}">
                    <a href="/user/address/default/{{_id}}/{{idUser}}" class="btn btn-outline-success btn-sm border-radius m-2" style="width: 100%">Đặt làm mặc định</a>
                </div>
                <a href="/user/address/edit/{{_id}}" class="btn btn-outline-warning btn-sm border-radius m-2" style="width: 100%">Sửa</a>
            </div>
        </div>
    </div>
    <hr>
    {{/addresses}}
    <a href="/user/address/create">
        <button class="btn btn-danger btn-lg border-radius" style="width: 100%">THÊM ĐỊA CHỈ MỚI</button>
    </a>
</div>
<div class="user" id="{{user.default}}"></div>


<style>
    /* Định dạng cho container */
    .containeraddress {
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 20px;
    }

    /* Tiêu đề */
    h2 {
        margin-bottom: 20px;
        text-align: center;
    }

    /* Nút quay lại */
    .text-left {
        text-align: left;
        margin-bottom: 15px;
    }

    /* Nút quay lại */
    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #545b62;
        color: white;
        text-decoration: none;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var idUser = document.querySelector('.user').id;
        var addresses = document.querySelectorAll('.address');

        addresses.forEach((address) => {
            if (address.id === idUser) {
                address.innerHTML = '<button class="btn btn-danger btn-sm border-radius m-2" style="width: 100%" disabled>ĐỊA CHỈ MẶC ĐỊNH</button>';
            }
        });
    });
</script>