<nav class="navbar navbar-expand-lg navbar-light bgcolor-customer">
    <div class="container">
        <div class="logo"><a class="navbar-brand" href="/"><img src="/img/logo.png" alt="logo-eight"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="float-right">
            {{#if customer}}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="btn btn-light border-radius">
                            <span class="cart-text">VN | </span><span class="cart-text">
                                {{customer.name}}</span></button>
                    </a>
                    <ul class="dropdown-menu">
                        <div class="menu_show_user">
                            <div class="row">
                                <div
                                    class="col-lg-3 align-items-center d-flex justify-content-lg-end justify-content-center">
                                    <div class="">
                                        {{#if customer.avatar}}
                                            <img src="/upload/{{customer.avatar}}" alt="{{customer.name}}">
                                        {{else}}
                                            <img class="border-radius" src="https://cdn2.fptshop.com.vn/unsafe/Uploads/images/tin-tuc/175421/Originals/avatar-la-gi-2.jpg">
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <p><strong class="text-body">{{customer.name}}</strong></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <li>
                            <a class="dropdown-item" href="/customer/{{_id}}" id="memberInfo">
                                <span class="icon"><i class="fas fa-user-alt"></i></span>
                                <span class="text">Thông tin tài khoản</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/customer/history/{{customer._id}}" id="memberAddress">
                                <span class="icon"><i class="fas fa-history"></i></span>
                                <span class="text">Lịch sử đơn hàng</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/customer/address/{{customer._id}}" id="memberAddress">
                                <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
                                <span class="text">Địa chỉ giao hàng</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item" href="/customer/changedPassword/{{customer._id}}" id="memberAddress">
                                <span class="icon"><i class="fas fa-key"></i></span>
                                <span class="text">Đổi mật khẩu</span>
                            </a>
                        </li>
                        <hr>
                        <li>
                            <a class="dropdown-item" href="/customer/logout">
                                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                                <span class="text text-uppercase">Đăng xuất</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {{else}}
            <a href="/customer/login">
                <button class="btn btn-danger border-radius">ĐĂNG NHẬP <i class="fas fa-sign-in-alt"></i></button>
            </a>
            {{/if}}
        </div>
    </div>
</nav>