<div class="col-4">
  <a class="dropdown-item active1" href="/customer" id="memberInfo">
    <span class="icon"><i class="fas fa-user-alt"></i></span>
    <span class="text">Thông tin tài khoản</span>
  </a>
  <a
    class="dropdown-item"
    href="/customer/history/{{customer._id}}"
    id="memberHistory"
    :focus
  >
    <span class="icon"><i class="fas fa-history"></i></span>
    <span class="text">Lịch sử đơn hàng</span>
  </a>
  <a
    class="dropdown-item"
    href="/customer/address/{{customer._id}}"
    id="memberAddress"
  >
    <span class="icon"><i class="fas fa-map-marked-alt"></i></span>
    <span class="text">Địa chỉ giao hàng</span>
  </a>
  <a class="dropdown-item" href="/customer/changedPassword/{{customer._id}}" id="memberPassword">
    <span class="icon"><i class="fas fa-key"></i></span>
    <span class="text">Đổi mật khẩu</span>
  </a>
</div>
<div class="col-8">
  <form action="/customer/{{customer._id}}/edit" method="POST" enctype="multipart/form-data">
    <div class="head_3 bg-gray px-3 border-radius-20">
      Thông tin tài khoản
      <button
        type="submit"
        class="btn btn-danger border-radius float-right"
      >SỬA</button>
    </div>
    <div class="box-left clearfix mt-4">
      <div class="form-group">
        <input
          type="text"
          class="form-control border-radius"
          id="fullName"
          name="fullName"
          placeholder="Họ và tên..."
          value="{{customer.name}}"
          disabled
        />
      </div>
      {{#if customer.email}}
      <div class="form-group">
        <input
          type="text"
          class="form-control border-radius"
          id="email"
          name="email"
          placeholder="Email..."
          value="{{customer.email}}"
          disabled
        />
      </div>
      {{else}}
      <div class="form-group">
        <input
          type="text"
          class="form-control border-radius"
          id="email"
          name="email"
          placeholder="Email..."
          value="{{customer.username}}"
          disabled
        />
      </div>
      {{/if}}
      <div class="form-group">
        <input
          type="text"
          class="form-control border-radius"
          id="phone"
          name="phone"
          placeholder="Số điện thoại..."
          value="{{customer.phone}}"
        />
      </div>
      <div class="form-group">
          <input type="file" class="form-control" id="avatarInput" name="avatarInput" accept="image/*" />
      </div>
      <div
        class="btn-group"
        id="sex"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          name="sex"
          value="male"
          id="btnradio1"
          autocomplete="off"
          {{#ifEquals customer.sex 'male'}}checked{{/ifEquals}} checked
        />
        <label
          class="btn btn-outline-danger border-radius-left"
          for="btnradio1"
        >Nam</label>

        <input
          type="radio"
          class="btn-check"
          name="sex"
          value="female"
          id="btnradio2"
          autocomplete="off"
          {{#ifEquals customer.sex 'female'}}checked{{/ifEquals}}
        />
        <label
          class="btn btn-outline-warning border-radius-right"
          for="btnradio2"
        >Nữ</label>
      </div>
    </div>
  </form>
</div>

<script>
  function validatePhoneNumber(input) {
    var phonePattern = /^[0-9]{10}$/; // Mẫu cho chính xác 10 chữ số
    if (input.length !== 10 || !phonePattern.test(input)) {
      alert("Số điện thoại phải có đúng 10 chữ số");
      //document.getElementById("phone").value = ''; // Xóa trường nhập liệu nếu không đúng
    }
  }

  document.getElementById("phone").addEventListener("input", function() {
    this.value = this.value.replace(/[^0-9]/g, ''); // Chỉ cho phép nhập số
    if (this.value.length >= 10) {
      this.value = this.value.slice(0, 10); // Giới hạn số nhập vào đúng 10 chữ số
    }
  });

  document.getElementById("phone").addEventListener("blur", function() {
    validatePhoneNumber(this.value); // Kiểm tra số điện thoại khi rời khỏi trường nhập liệu
  });

</script>