<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connect', function () {
    console.log('Connected to server');
  });
  // Bạn có thể thêm các sự kiện khác ở đây, ví dụ:
  socket.on('confirmOrder', function (id) {
    window.location.reload();
  });
  socket.on('completeOrder', function (id) {
    window.location.reload();
  });
  socket.on('cancelOrder', function (id) {
    window.location.reload();
  });
</script>

<div class="order-detail-container">
  <button class="btn btn-success" onclick="history.back()">←Trở Lại</button>
  <center>
    <h2><b>Chi Tiết Đơn Hàng</b></h2>
  </center>
  <hr>

  {{#ifEquals status 'new'}}
  <center>
  <h3><i class="fas fa-cart-arrow-down fa-lg" style="color: #FFD43B;"></i></h3>
  <h3>Đơn hàng của bạn đang chờ xác nhận...</h3>
  </center>
  <div class="order-status p-5">
    <div class="step">
      <p>Đặt hàng</p>
      <div class="step-icon current">
        <i class="fas fa-receipt"></i>
      </div>
    </div>
    <div class="step-line completed"></div>
    <div class="step">
      <p>Thực Hiện</p>
      <div class="step-icon">
        <i class="fas fa-hotdog"></i>
      </div>
    </div>
    <div class="step-line"></div>
    <div class="step">
      <p>Giao Hàng</p>
      <div class="step-icon">
        <i class="fas fa-box"></i>
      </div>
    </div>
  </div>
  <center>
    <button type="button" class="btn btn-danger border-radius-20" data-toggle="modal" data-target="#cancelOrderModal">Hủy đơn hàng</button>
  </center>

  <!-- Modal -->
  <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="cancelOrderModalLabel">Lý do hủy đơn hàng</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form id="cancelForm">
                      <div class="form-group">
                          <label for="cancelReason">Lý do hủy:</label>
                          <select class="form-control" id="cancelReason" required>
                              <option value="">Chọn lý do</option>
                              <option value="Sai địa chỉ">Tôi đặt nhầm địa chỉ nhận hàng</option>
                              <option value="Sai đơn hàng">Tôi cần kiểm tra lại đơn hàng</option>
                              <option value="Không thể nhận hàng">Tôi không thể nhận hàng vào thời gian này</option>
                              <option value="Lỗi khi đặt hàng">Tôi đã thao tác lỗi khi đặt hàng</option>
                              <option value="Lý do khác">Tôi không tìm thấy lý do phù hợp</option>
                          </select>
                      </div>
                      <div id="errorMessage" class="text-danger" style="display: none;"></div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  <button type="button" class="btn btn-primary" id="submitCancel">Gửi</button>
              </div>
          </div>
      </div>
  </div>

  {{/ifEquals}}
  {{#ifEquals status 'inProgress'}}
  <center>
  <h3><i class="fas fa-mug-hot fa-lg" style="color: #FFD43B;"></i></h3>
  <h3>Đơn hàng của bạn đang được thực hiện, vui lòng đợi trong ít phút.</h3>
  </center>
  <div class="order-status p-5">
    <div class="step">
      <p>Đặt hàng</p>
      <div class="step-icon current">
        <i class="fas fa-receipt"></i>
      </div>
    </div>
    <div class="step-line completed"></div>
    <div class="step">
      <p>Thực Hiện</p>
      <div class="step-icon current">
        <i class="fas fa-hotdog"></i>
      </div>
    </div>
    <div class="step-line completed"></div>
    <div class="step">
      <p>Giao Hàng</p>
      <div class="step-icon">
        <i class="fas fa-box"></i>
      </div>
    </div>
  </div>
  {{/ifEquals}}
  {{#ifEquals status 'completed'}}
  <center>
  <h3><i class="fas fa-motorcycle fa-lg" style="color: #FFD43B;"></i></h3>
  <h3>Đơn hàng của bạn đã được hoàn thành và đang trên đường giao đến, hãy chú ý điện thoại nhé !</h3>
  </center>
  <div class="order-status p-5">
    <div class="step">
      <p>Đặt hàng</p>
      <div class="step-icon current">
        <i class="fas fa-receipt"></i>
      </div>
    </div>
    <div class="step-line completed"></div>
    <div class="step">
      <p>Thực Hiện</p>
      <div class="step-icon current">
        <i class="fas fa-hotdog"></i>
      </div>
    </div>
    <div class="step-line completed"></div>
    <div class="step">
      <p>Giao Hàng</p>
      <div class="step-icon current">
        <i class="fas fa-box"></i>
      </div>
    </div>
  </div>
  {{/ifEquals}}
  {{#ifEquals status 'cancel'}}
  <center>
    <h3><i class="far fa-sad-tear fa-lg" style="color: #FFD43B;"></i></h3>
    <h3>Đơn hàng của bạn đã bị hủy</h3>
    <button type="button" class="btn btn-outline-danger btn-sm" disabled>Đã hủy</button>
  </center>
  {{/ifEquals}}
  <hr>

  <div class="order-detail">
    <div class="order-section">
      <div class="bg-white border-radius-20">
        <div class="col">
          <div class="d-flex">
            <i class="fas fa-map-marker-alt pr-2 pt-1"></i>
            <div class="d-flex flex-column">
              <div>
                <span id="customerNameDO" class="font-weight-bold">{{idAddress.fullName}}</span>
                <span id="customerPhoneDO" class="text-muted">{{idAddress.phone}}</span>
              </div>
              <span id="customerAddressDO">{{idAddress.address}}, {{idAddress.wards}}, {{idAddress.district}},
                {{idAddress.city}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white border-radius-20 p-3 m-3">
        <div class="">
          Mã đơn hàng
          <div class="float-right">
            <span id="orderIdDO" class="font-weight-bold">{{_id}}</span>
          </div>
        </div>
        <div>
          Phương thức thanh toán
          <div class="float-right">
            <span id="paymentMethodDO" class="">{{payment}}</span>
          </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <div>Thời gian đặt hàng:</div>
          <div><span id="orderDateDO">{{formatDateTime createdAt}}</span></div>
        </div>
      </div>
      <div class="bg-white border-radius-20 p-3 m-3">
        <div class="d-flex justify-content-between">
          <div>Tổng tiền hàng (<span id="amountDO">{{amount}}</span> món)</div>
          <div><span id="totalMoneyDO">{{moneyTotal}}</span>.000 VND</div>
        </div>
        <div class="d-flex justify-content-between">
          <div>Phí giao hàng (chỉ áp dụng TP.HCM)</div>
          <div><span id="shippingFeeDO">{{shippingFee}}</span>.000 VND</div>
        </div>
        <p id="promotion">Khuyến mãi <span id="promotionTextDO"> Không</span></p>
        <hr>
        <div class="">
          <div class="float-right">
            <p class="float-right">Thành tiền: <span id="finalMoneyDO" class="font-weight-bold">{{finalMoney}}.000
                VND</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white border-radius-20 m-3 p-3">
      <ul id="productListDO" class="list-group">
        {{#details}}
        <li class="list-group-item product-item d-flex">
          <div class="col-4">
            <img src="/upload/{{foodid.image}}" alt="{{name}}" class="img-thumbnail">
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <span class="product-name">{{name}}</span>
              </div>
              <div class="col-12">
                <span class="product-quantity float-right">{{amount}}x</span>
              </div>
              <div class="col-12">
                <span class="product-price float-right">{{price}}.000 VND</span>
              </div>
            </div>
          </div>
        </li>
        {{/details}}
      </ul>
    </div>
  </div>
</div>

<script>
    document.getElementById('submitCancel').addEventListener('click', function() {
        var reason = document.getElementById('cancelReason').value;
        var orderId = document.getElementById('orderIdDO').textContent; // Thay thế bằng mã đơn hàng thực tế
        var errorMessage = document.getElementById('errorMessage');

        if (orderId === "") {
            errorMessage.textContent = "Có lỗi xảy ra khi hủy đơn hàng.";
            errorMessage.style.display = "block";
            return;
        }

        if (reason === "") {
            errorMessage.textContent = "Vui lòng chọn lý do hủy.";
            errorMessage.style.display = "block";
            return;
        }

        fetch('/order/api/cancel/' + orderId, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ reason: reason })
        })
        .then(response => {
            if (!response.ok) {
                return response.json().then(error => {
                    throw new Error(error.msg || "Có lỗi xảy ra khi hủy đơn hàng.");
                });
            }
            return response.json();
        })
        .then(data => {
            alert("Đơn hàng đã được hủy thành công.");
            $('#cancelOrderModal').modal('hide');
            errorMessage.style.display = "none";
            window.location.reload();
        })
        .catch(error => {
            errorMessage.textContent = error;
            errorMessage.style.display = "block";
        });
    });
</script>

<style>
  .order-detail-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .order-status {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .step-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    color: #fff;
  }

  .step-icon.completed {
    background-color: #27ae60;
  }

  .step-icon.current {
    background-color: #f16d00;
  }

  .step-line {
    height: 2px;
    width: 50px;
    background-color: #ccc;
  }

  .step-line.completed {
    background-color: #27ae60;
  }

  .order-detail h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }

  .order-detail p {
    font-size: 1rem;
  }

  .product-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .product-info img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
  }

  .product-details {
    color: #333;
  }

  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1abc9c;
  }

  .order-total p {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #ff8c00;
  }
</style>


