<div class="order-card">
    <div class="order-details row">
        <div class="col-6">
            <p><strong>Khách hàng:</strong>{{this.idAddress.fullName}}</p>
        </div>
        <div class="col-6">
            <p><strong>Số điện thoại:</strong>{{this.idAddress.phone}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p><strong>Time:</strong> <span class="order-time">{{this.createdAt}}</span></p>
        </div>
        <div class="col-4">
            <p><strong>Tổng tiền:</strong> <span class="">{{this.moneyTotal}}.000đ</span></p>
        </div>
        <div class="col-3">
            <p><strong>Pay:</strong> <span class="">{{this.payment}}</span></p>
        </div>
    </div>
    <ul class="order-items">
        {{#each ordersNew}}
        <li>{{this.foodid.name}}</li></br>
        {{/each}}
    </ul>
    <div class="order-actions">
        <button class="btn-confirm" onclick="confirmOrder('{{this._id}}')">Xác nhận</button>
        <button class="btn-cancel" onclick="showCancelModal()">Huỷ</button>
    </div>
</div>
<script>
function confirmOrder(id) {
    // Gửi yêu cầu xác nhận đơn hàng đến server
    fetch(`/staff/order/confirm/${id}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id: id })
    })
    .then(response => response.json())
    .then(data => {
        // Xử lý kết quả từ server
        alert('Đơn hàng đã được xác nhận!');
        window.location.reload(); // Reload lại trang sau khi xác nhận đơn hàng --}}
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}
</script>