<div class="order-card" onclick="viewOrderDetails(this)" data-order-id="{{this.orderId._id}}">
    <div class="order-details">
        <div class="order-header">
            <span class="order-time">Đặt: {{formatDateTime this.orderId.createdAt}}</span>
            <span class="order-time">Huỷ: {{formatDateTime this.createdAt}}</span>
            <span>Lý do huỷ đơn: {{this.reason}}</span>
        </div>
    </div>
    <div class="order-body">
        <div class="order-money">
            <div class="d-flex">
                <span class="tag yellow" id="paymentMethod">{{this.orderId.payment}}</span>
                <span class="tag red" id="promotionTag-{{this.orderId._id}}" style="display: none;">Khuyến mãi</span>
            </div>
        </div>
        <div class="display-flex row">
            <div class="col-5">
                <span class="total-amount float-left" id=""> {{this.orderId.amount}} món</span>
            </div>
            <div class="col-7">
                <span class="total-amount float-right" id="totalAmount">{{this.orderId.moneyTotal}}.000 VND</span>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <button class="btn btn-primary" style="width: 100%;" onclick="showDetails()">Xem chi tiết</button>
    </div>
</div>
