<div class="container bg-white">
    <div class="row w-100 py-4">
        <center>
            <div class="img_user">
                <a href="/customer/avatar/{{customer._id}}">
                {{#if customer.avatar}}
                    <img class="border-radius" src="/upload/{{customer.avatar}}">
                {{else}}   
                    <img class="border-radius"
                        src="https://cdn2.fptshop.com.vn/unsafe/Uploads/images/tin-tuc/175421/Originals/avatar-la-gi-2.jpg">
                {{/if}}
                </a>
            </div>
            <p><span class="text-danger">Xin chào!</span></p>
            <p><strong class="text-body box_user_head">{{customer.name}}</strong></p>
            <p>{{customer.phone}} 0123456789
                {{#if 1}} | {{customer.sex}}{{/if}}
                {{#if 1}} | {{customer.email}}{{/if}}
            </p>
        </center>
    </div>
    <div class="row w-100">
        {{>customer/history}}
    </div>
</div>